.brass {
  background-color: gray;
  color: white;
}

.woodwinds {
  background-color: white;
  color: black;
}

.colorguard {
  background-color: #7c13ba;
  color: white;
}

.percussion {
  background-color: black;
  color: white;
}
